mysqldump : mysqldump: [Warning] Using a password on the command line interface can be insecure.
No linha:1 caractere:1
+ mysqldump -u root -pLightMobile123 arborizacao > C:\Users\filip\Downl ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: arborizacao
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `area_pontos`
--

DROP TABLE IF EXISTS `area_pontos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `area_pontos` (
  `area_id` bigint NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  KEY `FK5rv4dq4for59b7xdj2hswoa9x` (`area_id`),
  CONSTRAINT `FK5rv4dq4for59b7xdj2hswoa9x` FOREIGN KEY (`area_id`) REFERENCES `areas_arborizadas` (`area_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `area_pontos`
--

LOCK TABLES `area_pontos` WRITE;
/*!40000 ALTER TABLE `area_pontos` DISABLE KEYS */;
INSERT INTO `area_pontos` VALUES (6,-23.570053279579312,-46.64004321815102),(6,-9.76049583409592,-32.899782548764165),(6,-8.319249499942131,-35.53477355379633),(6,-8.319249499942131,-35.53477355379633),(6,-8.065059372349538,-35.37555079152733),(6,-8.065059372349538,-35.37555079152733);
/*!40000 ALTER TABLE `area_pontos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `areas_arborizadas`
--

DROP TABLE IF EXISTS `areas_arborizadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `areas_arborizadas` (
  `area_id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo` enum('AVENIDA','BOSQUE','OUTRA','PARQUE','PRACA','RUA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('ATIVA','EM_ANALISE','INATIVA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `criado_em` datetime(6) NOT NULL,
  `atualizado_em` datetime(6) NOT NULL,
  `foto_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `area_total_m2` double DEFAULT NULL,
  `bairro` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `individuos_cadastrados` int DEFAULT NULL,
  `logradouro` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsavel_manutencao` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `situacao_inventario` enum('CONCLUIDO','EM_ANDAMENTO','EM_ATUALIZACAO','NAO_INICIADO') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ultima_atualizacao_inventario` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`area_id`),
  KEY `idx_areas_status` (`status`),
  KEY `idx_areas_tipo` (`tipo`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `areas_arborizadas`
--

LOCK TABLES `areas_arborizadas` WRITE;
/*!40000 ALTER TABLE `areas_arborizadas` DISABLE KEYS */;
/*!40000 ALTER TABLE `areas_arborizadas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `areas_fotos`
--

DROP TABLE IF EXISTS `areas_fotos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `areas_fotos` (
  `areas_fotos_id` bigint NOT NULL AUTO_INCREMENT,
  `criado_em` datetime(6) NOT NULL,
  `descricao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `area_id` bigint NOT NULL,
  PRIMARY KEY (`areas_fotos_id`),
  KEY `FKlwshh2ff5hwt1dsc7m8firv18` (`area_id`),
  CONSTRAINT `FKlwshh2ff5hwt1dsc7m8firv18` FOREIGN KEY (`area_id`) REFERENCES `areas_arborizadas` (`area_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `areas_fotos`
--

LOCK TABLES `areas_fotos` WRITE;
/*!40000 ALTER TABLE `areas_fotos` DISABLE KEYS */;
/*!40000 ALTER TABLE `areas_fotos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `areas_pontos`
--

DROP TABLE IF EXISTS `areas_pontos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `areas_pontos` (
  `pontos_id` bigint NOT NULL AUTO_INCREMENT,
  `area_id` bigint NOT NULL,
  `latitude` double NOT NULL,
  `longitude` double NOT NULL,
  PRIMARY KEY (`pontos_id`),
  KEY `idx_area_pontos_area_id` (`area_id`),
  CONSTRAINT `fk_area_pontos_area` FOREIGN KEY (`area_id`) REFERENCES `areas_arborizadas` (`area_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `areas_pontos`
--

LOCK TABLES `areas_pontos` WRITE;
/*!40000 ALTER TABLE `areas_pontos` DISABLE KEYS */;
INSERT INTO `areas_pontos` VALUES (26,6,-23.55261295884958,-46.63185745163452);
/*!40000 ALTER TABLE `areas_pontos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arvore_fotos`
--

DROP TABLE IF EXISTS `arvore_fotos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arvore_fotos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `criado_em` datetime(6) NOT NULL,
  `descricao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `arvore_id` bigint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arvore_fotos`
--

LOCK TABLES `arvore_fotos` WRITE;
/*!40000 ALTER TABLE `arvore_fotos` DISABLE KEYS */;
/*!40000 ALTER TABLE `arvore_fotos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arvores`
--

DROP TABLE IF EXISTS `arvores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arvores` (
  `arvores_id` bigint NOT NULL AUTO_INCREMENT,
  `atualizado_em` datetime(6) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  `data_plantio` date DEFAULT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci,
  `foto_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `georreferenciada` bit(1) NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `nome` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_processo` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `porte` enum('GRANDE','MEDIO','PEQUENO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('ATIVA','EM_MANUTENCAO','INATIVA','REMOVIDA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `area_id` bigint DEFAULT NULL,
  `especie_id` bigint DEFAULT NULL,
  `origem` enum('DOACAO','OBRIGACAO_LEGAL','OUTRA','PLANTIO_PROPRIO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_arvore` enum('EXOTICA','FRUTIFERA','NATIVA','ORNAMENTAL','OUTRA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `altura_primeira_bifurcacao` double DEFAULT NULL,
  `altura_total` double DEFAULT NULL,
  `cap` double DEFAULT NULL,
  `cavidades` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `condicao_fitossanitaria` enum('BOM','CRITICO','REGULAR','RUIM') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `danos_tronco` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dap` double DEFAULT NULL,
  `diametro_copa` double DEFAULT NULL,
  `fungos` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galhos_secos` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `inclinacao` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doencas` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pragas` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prioridade_manejo` enum('ALTA','BAIXA','MEDIA','URGENTE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raizes_expostas` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsavel_cadastro` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sinais_apodrecimento` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_conflito` enum('ACESSIBILIDADE','CALCADA','EDIFICACAO','ILUMINACAO','REDE_ELETRICA','REDE_SUBTERRANEA','SEM_CONFLITO','SINALIZACAO','TRANSITO') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_manejo` enum('AMPLIACAO_CANTEIRO','AVALIACAO_SUPRESSAO','AVALIACAO_TRANSPLANTE','COMBATE_PRAGAS','EXTRACAO','MONITORAMENTO','NENHUM','PODA_ADEQUACAO','PODA_FORMACAO','PODA_LIMPEZA','PODA_RENOVACAO','REPOUSO','TRANSPLANTE','TRATAMENTO_FITOSANITARIO','TUTORAMENTO') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`arvores_id`),
  KEY `fk_arvores_area` (`area_id`),
  KEY `fk_arvores_especie` (`especie_id`),
  KEY `idx_arvores_status` (`status`),
  KEY `idx_arvores_lat_lng` (`latitude`,`longitude`),
  CONSTRAINT `fk_arvores_area` FOREIGN KEY (`area_id`) REFERENCES `areas_arborizadas` (`area_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_arvores_especie` FOREIGN KEY (`especie_id`) REFERENCES `especies_arvores` (`especies_arvores_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_arvores_georreferenciada` CHECK (((`georreferenciada` = 0) or ((`georreferenciada` = 1) and (`latitude` is not null) and (`longitude` is not null))))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arvores`
--

LOCK TABLES `arvores` WRITE;
/*!40000 ALTER TABLE `arvores` DISABLE KEYS */;
/*!40000 ALTER TABLE `arvores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arvores_fotos`
--

DROP TABLE IF EXISTS `arvores_fotos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arvores_fotos` (
  `arvores_fotos_id` bigint NOT NULL AUTO_INCREMENT,
  `criado_em` datetime(6) NOT NULL,
  `descricao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `arvore_id` bigint NOT NULL,
  PRIMARY KEY (`arvores_fotos_id`),
  KEY `fk_arvores_fotos_arvore` (`arvore_id`),
  CONSTRAINT `fk_arvores_fotos_arvore` FOREIGN KEY (`arvore_id`) REFERENCES `arvores` (`arvores_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arvores_fotos`
--

LOCK TABLES `arvores_fotos` WRITE;
/*!40000 ALTER TABLE `arvores_fotos` DISABLE KEYS */;
/*!40000 ALTER TABLE `arvores_fotos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria` (
  `auditoria_id` bigint NOT NULL AUTO_INCREMENT,
  `acao` enum('CRIACAO','EDICAO','EXCLUSAO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_hora` datetime(6) NOT NULL,
  `detalhe` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entidade` enum('AREA','ARVORE','DOACAO','ESPECIE','USUARIO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `entidade_id` bigint DEFAULT NULL,
  `usuario_email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`auditoria_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doacoes_arvores`
--

DROP TABLE IF EXISTS `doacoes_arvores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doacoes_arvores` (
  `doacoes_arvores_id` bigint NOT NULL AUTO_INCREMENT,
  `arvore_id` bigint DEFAULT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci,
  `solicitante` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_doacao` date DEFAULT NULL,
  `destinacao` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cpf` varchar(14) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantidade` int DEFAULT NULL,
  `rg` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`doacoes_arvores_id`),
  KEY `idx_doacoes_arvores_arvore_id` (`arvore_id`),
  CONSTRAINT `fk_doacoes_arvores_arvore` FOREIGN KEY (`arvore_id`) REFERENCES `arvores` (`arvores_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doacoes_arvores`
--

LOCK TABLES `doacoes_arvores` WRITE;
/*!40000 ALTER TABLE `doacoes_arvores` DISABLE KEYS */;
INSERT INTO `doacoes_arvores` VALUES (1,5,'Doa├º├úo de muda de Ip├¬ pela prefeitura','Prefeitura Municipal','2024-03-10','Pra├ºa Central 2',NULL,NULL,NULL),(2,3,'Muda de Sibipiruna doada por empresa local','Empresa Verde Ltda','2022-07-05','Bosque Teste 2',NULL,NULL,NULL),(3,1,'Ipes doados','joao','2026-08-27','Pra├ºa Central',NULL,NULL,NULL),(4,1,'bal b├ºa','seu joao','2026-08-07','Bela Vista','111-111-111-34',200,'11.111.111-09');
/*!40000 ALTER TABLE `doacoes_arvores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especies_arvores`
--

DROP TABLE IF EXISTS `especies_arvores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especies_arvores` (
  `especies_arvores_id` bigint NOT NULL AUTO_INCREMENT,
  `nome_popular` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome_cientifico` varchar(180) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `familia` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `porte_padrao` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `criado_em` datetime(6) NOT NULL,
  `atualizado_em` datetime(6) NOT NULL,
  `indicacao_plantio` text COLLATE utf8mb4_unicode_ci,
  `foto_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`especies_arvores_id`),
  UNIQUE KEY `uk_especies_nome_cientifico` (`nome_cientifico`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especies_arvores`
--

LOCK TABLES `especies_arvores` WRITE;
/*!40000 ALTER TABLE `especies_arvores` DISABLE KEYS */;
/*!40000 ALTER TABLE `especies_arvores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especies_fotos`
--

DROP TABLE IF EXISTS `especies_fotos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especies_fotos` (
  `especies_fotos_id` bigint NOT NULL AUTO_INCREMENT,
  `criado_em` datetime(6) NOT NULL,
  `descricao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `especie_id` bigint NOT NULL,
  PRIMARY KEY (`especies_fotos_id`),
  KEY `FKoc3aak24o1gaoepth6i1qermr` (`especie_id`),
  CONSTRAINT `FKoc3aak24o1gaoepth6i1qermr` FOREIGN KEY (`especie_id`) REFERENCES `especies_arvores` (`especies_arvores_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especies_fotos`
--

LOCK TABLES `especies_fotos` WRITE;
/*!40000 ALTER TABLE `especies_fotos` DISABLE KEYS */;
INSERT INTO `especies_fotos` VALUES (1,'2026-08-20 13:52:40.222822','ipes amarelos','https://media.istockphoto.com/id/2162165401/pt/foto/handroanthus-albus.jpg?s=612x612&w=0&k=20&c=h9YPzD7G9grBgbBr3LyGIa4F9S3QmDXfz1wpBK6dBSw=',1);
/*!40000 ALTER TABLE `especies_fotos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lotes_sementeira`
--

DROP TABLE IF EXISTS `lotes_sementeira`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lotes_sementeira` (
  `lote_id` bigint NOT NULL AUTO_INCREMENT,
  `atualizado_em` datetime(6) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  `data_producao` date DEFAULT NULL,
  `numero_lote` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `observacoes` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `origem_sementes` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantidade_disponivel` int DEFAULT NULL,
  `quantidade_doadas` int DEFAULT NULL,
  `quantidade_perdas` int DEFAULT NULL,
  `quantidade_plantadas` int DEFAULT NULL,
  `quantidade_produzida` int DEFAULT NULL,
  `status` enum('ATIVO','CANCELADO','ENCERRADO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `especie_id` bigint DEFAULT NULL,
  PRIMARY KEY (`lote_id`),
  KEY `FKjn5wln9apv5ugre2u2afjf93l` (`especie_id`),
  CONSTRAINT `FKjn5wln9apv5ugre2u2afjf93l` FOREIGN KEY (`especie_id`) REFERENCES `especies_arvores` (`especies_arvores_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lotes_sementeira`
--

LOCK TABLES `lotes_sementeira` WRITE;
/*!40000 ALTER TABLE `lotes_sementeira` DISABLE KEYS */;
INSERT INTO `lotes_sementeira` VALUES (1,'2026-09-10 14:59:42.792253','2026-09-10 14:59:42.792253','2026-02-01','LOTE-2026-001','nenhuma','Coleta',200,0,0,200,200,'ATIVO',6);
/*!40000 ALTER TABLE `lotes_sementeira` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manutencoes_arvore`
--

DROP TABLE IF EXISTS `manutencoes_arvore`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manutencoes_arvore` (
  `manutencao_id` bigint NOT NULL AUTO_INCREMENT,
  `atualizado_em` datetime(6) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  `data_agendada` date DEFAULT NULL,
  `data_execucao` date DEFAULT NULL,
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `prioridade` enum('ALTA','BAIXA','MEDIA','URGENTE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `responsavel_execucao` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo` enum('AMPLIACAO_CANTEIRO','AVALIACAO_SUPRESSAO','AVALIACAO_TRANSPLANTE','COMBATE_PRAGAS','EXTRACAO','MONITORAMENTO','NENHUM','PODA_ADEQUACAO','PODA_FORMACAO','PODA_LIMPEZA','PODA_RENOVACAO','REPOUSO','TRANSPLANTE','TRATAMENTO_FITOSANITARIO','TUTORAMENTO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `endereco` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`manutencao_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manutencoes_arvore`
--

LOCK TABLES `manutencoes_arvore` WRITE;
/*!40000 ALTER TABLE `manutencoes_arvore` DISABLE KEYS */;
INSERT INTO `manutencoes_arvore` VALUES (1,'2026-09-10 13:21:22.369712','2026-09-10 13:21:22.369712','2025-02-01',NULL,'dihlhukeed','MEDIA','Dulce','PENDENTE','PODA_LIMPEZA','asuhsdio'),(2,'2026-09-10 13:28:50.255089','2026-09-10 13:28:50.255089','2222-02-01',NULL,'kkkkkkkkkkkkk','ALTA','Dulce','CONCLUIDA','PODA_RENOVACAO','uhkadhda');
/*!40000 ALTER TABLE `manutencoes_arvore` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plantios`
--

DROP TABLE IF EXISTS `plantios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plantios` (
  `plantio_id` bigint NOT NULL AUTO_INCREMENT,
  `atualizado_em` datetime(6) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  `data_plantio` date DEFAULT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci,
  `quantidade_mudas` int DEFAULT NULL,
  `responsavel` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('CANCELADO','CONCLUIDO','EM_EXECUCAO','PLANEJADO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `area_id` bigint DEFAULT NULL,
  `especie_id` bigint DEFAULT NULL,
  PRIMARY KEY (`plantio_id`),
  KEY `FKjw5jso138sn7qo0h1m8csbyar` (`area_id`),
  KEY `FK9krrmn5j0qt4weug7wiinwvoe` (`especie_id`),
  CONSTRAINT `FK9krrmn5j0qt4weug7wiinwvoe` FOREIGN KEY (`especie_id`) REFERENCES `especies_arvores` (`especies_arvores_id`),
  CONSTRAINT `FKjw5jso138sn7qo0h1m8csbyar` FOREIGN KEY (`area_id`) REFERENCES `areas_arborizadas` (`area_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plantios`
--

LOCK TABLES `plantios` WRITE;
/*!40000 ALTER TABLE `plantios` DISABLE KEYS */;
/*!40000 ALTER TABLE `plantios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ativo` bit(1) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `perfil` enum('ADMIN','FUNCIONARIO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_usuarios_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,_binary '','2026-08-12 19:46:29.849748','admin@amasvisa.com.br','Administrador','ADMIN','$2a$10$dVq1/8nKN6YScjxnOgIOZeaImV7k4GT7IDonVAleOiKJTF1oL3ke6'),(3,_binary '','2026-08-18 15:43:03.015837','filipe@123.com','Filipe','FUNCIONARIO','$2a$10$hPtuR8c0g597a3qzEtY7lOveVCDg/Fa4YDG9fARDTOt9YBbZI9oDC');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_areas_resumo`
--

DROP TABLE IF EXISTS `vw_areas_resumo`;
/*!50001 DROP VIEW IF EXISTS `vw_areas_resumo`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_areas_resumo` AS SELECT 
 1 AS `area_id`,
 1 AS `nome`,
 1 AS `tipo`,
 1 AS `status`,
 1 AS `qtd_arvores`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_areas_resumo`
--

/*!50001 DROP VIEW IF EXISTS `vw_areas_resumo`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_areas_resumo` AS select `a`.`area_id` AS `area_id`,`a`.`nome` AS `nome`,`a`.`tipo` AS `tipo`,`a`.`status` AS `status`,count(distinct `t`.`arvores_id`) AS `qtd_arvores` from (`areas_arborizadas` `a` left join `arvores` `t` on((`t`.`area_id` = `a`.`area_id`))) group by `a`.`area_id`,`a`.`nome`,`a`.`tipo`,`a`.`status` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-10 12:40:16
